@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    border: 0;
    box-sizing: border-box;
}
canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  }
body {
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
}
.container {
    display: flex;
    font-family: Montserrat;
    padding: 20px;
    margin-top: 100px;
}
.container button {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border:  2px solid #72005F;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    transition: 0.3s;
}
.container button:hover {
    background: #72005F;
}
.container .content {
    min-width: 50%;
    font-size: 70px;
    color: #72005F;
    text-align: center;
}
.container .content label {
    color: #BAA193;
    font-size: 30px;
}
.container .content p {
    margin-top: -20px;
}
.container .illustration img {
    height: 400px;
    animation: Levitate 2s linear infinite;
    transition: 0.8s;
}
.container .illustration img:hover {
    cursor: pointer;
    filter: drop-shadow(10px 10px 200px #ff00ff) drop-shadow(-10px -10px 50px #ff00ff);
    transition: 0.3s;
}
@keyframes Levitate {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
      }
      50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
      }
      100% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
      }
}

.illustrationOut {
    filter: blur(20px);
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    -webkit-filter: blur(20px);
    opacity: 0;
}
.illustrationIn {
    filter: blur(20px);
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    -webkit-filter: blur(0px);
    opacity: 1;
}
.advice {

    color: white;
    font-family: Montserrat;
    width: 800px;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(114, 0, 95, 0.5);
    margin: 0 auto;
    transition: 0.3s;
}